/* decoracao */
body {
    margin: 0;
    text-align: center;
}
/* animado */
html,
body {
    overflow-x: hidden;
    width: 100%;
    background-color: #E7FCE1;
}
.container-menus {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: transform 300ms ease;
            transition: -webkit-transform 300ms ease;
    width: 200%;
}
/* hack android velho */
body { -webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix {
  from { padding: 0; }
  to { padding: 0; }
}

.justify{
    text-align: justify;
    text-justify: inter-word;
}
.center{
    text-align: center;
    font-weight: bolder;
}
.center p{
    font-size: 20px;
}
p{
    font-size: 18px;
    line-height: 1.6;
}

.img30{
    border-radius: 33%;
    height: 90px;
}

nav a{
    font-size: 18px;
    font-weight: bolder;
    color: black;
}
figcaption{
    margin-top: 6px;
    margin-right: 10px;
    font-weight: bolder;
}
.navbar{
    background-color: #5DB445;
    position: fixed;
    width: 100%;
    top: 0;
    float: right;
}

figure img{
    min-width: 280px;
}
a{
    color: black;
}

#body-posicao {
    background-color: #E7FCE1;
}

.btn-posicao {
    width: 100%;
    border: 2px solid black;
    color: black;
}

.title-1 {
    font-family: sans-serif;
    font-size: 40px;
    color: #088A08;
    line-height: 1;
}

.title-2 {
    font-family: sans-serif;
    font-size: 25px;
}

/* .icon-ok {
    color: ;
} */

.number-list {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
    background-color: #FACC2E;
    color: #000000;
    border: 10px;
    border-color: #f4511e;
}

main{
    padding-top: 50px;
}